<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>街コロ / 街コロ＋(プラス) ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!-- css/jsの読み込み -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    このゲームは２～４人用となっています。<br/>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span>
      <br/>
      <div id='sec1' style='display:none'>
        <hr/>
        <button id="getAvailableCards1">街コロのカードを取得</button>&nbsp;&nbsp;
        <button id="getAvailableCards2">街コロ＋(プラス)のカードを取得</button><br/>
        <div name="availableCardList" id="availableCardList"></div>
        <button id="setGameCards">このカードで設定する</button><br/>
        <hr/>
        <button id="startGame1">&lt;通常ルールを始める&gt;</button>&nbsp;&nbsp;
        <button id="startGame2">&lt;拡張ルールを始める&gt;</button><br/>
      </div>
      <div id='sec2' style='display:none'>
        <hr/>
        <h4>Board Information</h4>
        ダイス:<span id='dice'></span><br/>
        <table id='boardcards' board=1>
        </table>
        <hr/>
        <h4>Players Information</h4>
        <table id='playerinformation'></table>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        &lt;&lt;ダイスフェーズ&gt;&gt;<br/>
        <input type='radio' name='choice_dice' id="choice_dice" value='1' checked=true>1個</input>&nbsp;&nbsp;
        <input type='radio' name='choice_dice' id="choice_dice" value='2' disabled="disabled">2個</input><br/>
        <input type='hidden' id='hide_dice' value='0'/>
        <button id="roll_dice">ダイスを振る</button><br/>
        <br/>
        <b><span id='yourdice'></span></b><br/>
        <button id='plus2' disabled>合計値を+2</button>
        <br/>
        <button id="judgement">判定をする</button><br/>
        <br/>
        &lt;&lt;購入フェーズ&gt;&gt;<br/>
        <table>
          <tr>
            <td align='center'>
              ランドマーク<br/>
              <select name='sel_buy_landmark' id="sel_buy_landmark"></select><br/>
              <button id="buy_landmark">購入する</button><br/>
            </td>
            <td align='center'>
              施設<br/>
              <select name='sel_buy_facility' id="sel_buy_facility"></select><br/>
              <button id="buy_facility">購入する</button><br/>
            </td>
          </tr>
        </table>
        <br/>
        &lt;&lt;終了フェーズ&gt;&gt;<br/>
        <button id="next_player">次の人へ</button><br/>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        カード指定<br/>
        -&nbsp;あなたのカード:<select name='sel_card1' id="sel_card1"></select><br/>
        -&nbsp;相手のカード:<select name='sel_card2' id="sel_card2"></select><br/>
        プレイヤー指定<br/>
        <select name='sel_player1' id="sel_player1"></select><br/>
        <button id="trade_card">カードを交換する</button><br/>
      </div>
      <div id='sec5' style='display:none'>
        プレイヤー指定<br/>
        <select name='sel_player2' id="sel_player2"></select><br/>
        <button id="get_point">ポイントをもらう</button><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>
  </body>
</html>
