<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>街コロ / 街コロ＋(プラス) ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
-->
  </head>
  <body>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span>
      <br/>
      <div id='sec1' style='display:none'>
        <hr/>
        <button id="startGame1">街コロ&lt;通常ルールを始める&gt;</button>&nbsp;&nbsp;
        <button id="startGame2">街コロ&lt;拡張ルールを始める&gt;</button><br/>
        <button id="startGame3">街コロ＋(プラス)&lt;通常ルールを始める&gt;</button>&nbsp;&nbsp;
        <button id="startGame4">街コロ＋(プラス)&lt;拡張ルールを始める&gt;</button><br/>
      </div>
      <div id='sec2' style='display:none'>
        <h4>Your role</h4>
        <span id='routelist'></span>
        <hr/>
        <h4>Board Information</h4>
        <table id='boardcards' board=1>
        </table>
        <hr/>
        <h4>Your Information</h4>
        ランドマーク:<br/>
        <table id='landmarks' board=1>
        </table>
        <br/>
        施設:<br/>
        <table id='facilities' board=1>
        </table>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        &lt;&lt;ダイスフェーズ&gt;&gt;<br/>
        <input type='radio' name='choice_dice' id="choice_dice" value='1' checked=true>1個</input>&nbsp;&nbsp;
        <input type='radio' name='choice_dice' id="choice_dice" value='2' disabled="disabled">2個</input><br/>
        <input type='hidden' id='hide_dice' value='0'/>
        <button id="roll_dice">ダイスを振る</button><br/>
        <br/>
        <span id='dice'></span><br/>
        <br/>
        <button id="judgement">判定をする</button><br/>
        <br/>
        &lt;&lt;購入フェーズ&gt;&gt;<br/>
        <select name='sel_buy' id="sel_buy"></select><br/>
        <button id="buying">購入する</button><br/>
        <br/>
        &lt;&lt;終了フェーズ&gt;&gt;<br/>
        <button id="next_player">次の人へ</button><br/>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        カード指定<br/>
        <select name='sel_card' id="sel_card"></select><br/>
        プレイヤー指定<br/>
        <select name='sel_player' id="sel_player"></select><br/>
        <button id="trade_card">カードを交換する</button><br/>
      </div>
      <div id='sec5' style='display:none'>
        プレイヤー指定<br/>
        <select name='sel_player' id="sel_player"></select><br/>
        <button id="get_point">ポイントをもらう</button><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>

    <script>
    var timeout = 1000;
    var timer = '';
    var aaa = 'a';

    $(function() {
      var gId = '';
      var cId = '';

      // Create Game
      $('#createGame').click(function() {
        $('#message').empty();
        $.ajax('create' + '/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#gId').text(data);
          $('#cId').text(data);
          $('#cName').text($('#cName_inp').val());
          $('#gStatus').text('waiting');
          gId = data;
          cId = data;
          $('#sec1').show();
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Join Game
      $('#joinGame').click(function() {
        $('#message').empty();
        $.ajax($('#gId_inp').val() + '/join/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          _tmp = data.split(' ,');
          $('#cId').text(_tmp[0]);
          $('#cName').text(_tmp[1]);
          $('#gStatus').text(_tmp[2]);
          gId = $('#gId_inp').val();
          cId = _tmp[0];
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // 街コロ<通常ルール>
      $('#startGame1').click(function() {
        $('#message').empty();
        $.ajax(gId + '/start/0',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // 街コロ<拡張ルール>
      $('#startGame2').click(function() {
        $('#message').empty();
        $.ajax(gId + '/start/0/ext',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // 街コロ＋<通常ルール>
      $('#startGame3').click(function() {
        $('#message').empty();
        $.ajax(gId + '/start/1',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // 街コロ＋<拡張ルール>
      $('#startGame4').click(function() {
        $('#message').empty();
        $.ajax(gId + '/start/1/ext',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // roll the dice
      $('#roll_dice').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/roll/' + $('input[name="choice_dice"]:checked').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#hide_dice').val('0');
          for(dIdx in data){
            $('#hide_dice').val(Number($('#hide_dice').val()) + Number(data[dIdx]));
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // judgement
      $('#judgement').click(function() {
        $('#message').empty();
        $.ajax(gId + '/judgement/' + $('#hide_dice').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Next player
      $('#next_player').click(function() {
        $('#message').empty();
        $.ajax(gId + '/next',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          // console.log(data)
          $('#message').text('次に移動しました');
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });
    });

    var status_check = function(gId, cId){
      setTimeout(function(){
        $('#message').empty();
        // all status
        $.getJSON(gId + '/status',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data)
          $('#gStatus').text(data.status);
          playerPos = 0;
          teamid = 0;

          // Applying List
          $('#applyingList').empty();
          for(var pIdx in data.players){
            // console.log(data.players[pIdx])
            $('#applyingList').append(data.players[pIdx].nickname + '(' + data.players[pIdx].playerid + ')' + ',');
            if(cId == data.players[pIdx].playerid){
              playerPos = pIdx;
            }
          }

          switch(data.status){
            case 'started':
              $('#sec2').show();
              $('#sec3').show();
              $('#sec4').show();

              $('#boardcards').empty();
              // var rowtable = $('<tr></tr>').appendTo($('#boardcards'));
              var gCnt = 0;
              for(var gIdx in data.boardcards){
                if(gCnt % 5 == 0){
                  var rowtable = $('<tr></tr>').appendTo($('#boardcards'));
                }
                if(data.boardcards[gIdx].cnt > 0){
                  $('<td align="center">' + data.boardcards[gIdx].name + '<br/>&lt;' + data.boardcards[gIdx].cnt + '&gt;</td>').appendTo(rowtable);
                  gCnt++;
                }
              }

              $('#landmarks').empty();
              var rowtable = $('<tr></tr>').appendTo($('#landmarks'));
              for(var pIdx in data.players[playerPos].landmarks){
                landmark = data.players[playerPos].landmarks[pIdx]
                $('<td align="center">' + landmark.name + '<br/>&lt;' + (data.turn? '建設済み':'工事中') + '&gt;</td>').appendTo(rowtable);
              }

              $('#facilities').empty();
              for(var fIdx in data.players[playerPos].facilities){
                if(fIdx % 5 == 0){
                  var rowtable = $('<tr></tr>').appendTo($('#facilities'));
                }
                facility = data.players[playerPos].facilities[fIdx]
                $('<td align="center">' + facility.name + '</td>').appendTo(rowtable);
              }

              $('#dice').text(data.dice.join(','));
              if(data.players[playerPos].dices == 2){
                $('input[type="radio"]').prop("disabled", false);
              }

              if(data.players.length != $('#sel_player').children('option').length){
                $('#sel_player').children().remove();
                for(var pIdx in data.players){
                  if(pIdx != playerPos){
                    $('#sel_player').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                  }
                }
              }

              // // checking turn
              // teamid = data.players[playerPos].teamid;
              // console.log("teamid:" + teamid + "turn:" + data.turn)
              // if(teamid % 2 == data.turn){
              //   $('#turn').text('your turn')
              //   if(teamid < 2){
              //     $('#sec4').show();
              //   }
              // }else{
              //   $('#turn').text('not your turn')
              //   $('#sec4').css('display', 'none');
              // }
              //
              // // game board
              // $('#gameboard tr').remove();
              // if(teamid < 9){
              //   for(var r = 0; r < 5; r++){
              //     var rowtable = $('<tr></tr>').appendTo($('#gameboard'));
              //     for(var c = 0; c < 5; c++){
              //       if(teamid > 1 || data.board[idx].type > 3){
              //         switch(data.board[idx].type){
              //           case 0:
              //             $('<td bgcolor="#ff6666">' + data.board[idx].codename + '</td>').appendTo(rowtable);
              //             break;
              //           case 1:
              //             $('<td bgcolor="#6699ff">' + data.board[idx].codename + '</td>').appendTo(rowtable);
              //             break;
              //           case 2:
              //             $('<td bgcolor="#ddd">' + data.board[idx].codename + '</td>').appendTo(rowtable);
              //             break;
              //           case 10:
              //             $('<td bgcolor="#ff6666"><font color="#ff6666">' + data.board[idx].codename + '</font></td>').appendTo(rowtable);
              //             break;
              //           case 11:
              //             $('<td bgcolor="#6699ff"><font color="#6699ff">' + data.board[idx].codename + '</font></td>').appendTo(rowtable);
              //             break;
              //           case 12:
              //             $('<td bgcolor="#ddd"><font color="#ddd">' + data.board[idx].codename + '</font></td>').appendTo(rowtable);
              //             break;
              //           case 13:
              //             $('<td><font color="#fff">' + data.board[idx].codename + '</font></td>').appendTo(rowtable);
              //             break;
              //           default:
              //             $('<td>' + data.board[idx].codename + '</td>').appendTo(rowtable);
              //             break;
              //         }
              //       }else{
              //         $('<td>' + data.board[idx].codename + '</td>').appendTo(rowtable);
              //       }
              //       idx++;
              //     }
              //   var idx = 0;
              //   }
              // }
              break;
            case 'end':
              $('#gameover').text('Game Over');
              $('input[type="radio"]').prop("disabled", false);
              $('#setteam').prop("disabled", false);
              $('#sec4').css('display', 'none');
              $('#card_sel').children().remove();
              break;
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        timer = setTimeout(status_check(gId, cId), timeout)
      }, timeout);
    }

    </script>
  </body>
</html>
